@font-face {
  font-family: "Inter";
  src: url("./inter/Inter-Regular.eot");
  src: local("Inter Regular"), local("Inter-Regular"),
    url("./inter/Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("./inter/Inter-Regular.woff2") format("woff2"),
    url("./inter/Inter-Regular.woff") format("woff"),
    url("./inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./inter/Inter-SemiBold.eot");
  src: local("Inter Semi Bold"), local("Inter-SemiBold"),
    url("./inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./inter/Inter-SemiBold.woff2") format("woff2"),
    url("./inter/Inter-SemiBold.woff") format("woff"),
    url("./inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
