* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #3b4a54; */
  font-family: Barlow, Open Sans, Lucida Grande, Helvetica Neue, Helvetica,
    Arial, Sans-serif;
  color: #222;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  color: #3b4a54;
  width: 100%;
  border: 2px solid transparent;
  background-color: #f0f2f5;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;

  &:focus {
    border-color: #d7d7d7;;
    box-shadow: 0 0 8px #d7d7d7;;
  }
}

svg {
  opacity: 0.75;
  transition: opacity 200ms ease-in;
  &:hover {
    opacity: 1;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

